name: Build and deploy

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v2

      - name: Build and deploy
        run: |
          export VERSION=${{ github.run_id }}
          chmod +x "${GITHUB_WORKSPACE}/scripts/deploy.sh"
          "${GITHUB_WORKSPACE}/scripts/deploy.sh"
